<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>
        <button v-on:click="handleBtnClick">提交</button>
        <ul>
            <!-- <li v-for="item in list">{{item}}</li> -->
            <todo-item v-bind:content="item" 
                v-for="item in list">
            </todo-item>
        </ul>
    </div>

    <script>
        // 组件化
        // Vue.component("TodoItem", {
        //     props:['content'],
        //     template:"<li>{{content}}</li>"
        // })

        var TodoItem = {
            props: ['content'],
            template:"<li>{{content}}</li>",
        }

        var app=new Vue({
            el:'#app',
            components: {
                TodoItem:TodoItem
            },
            data:{
                list:[
                    "第一项的内容",
                    "第二项的内容",
                ],
                inputValue:'',
            },
            methods:{
                handleBtnClick: function() {
                    if (this.inputValue === '') return;
                    this.list.push(this.inputValue);
                    this.inputValue='';
                },
            }
        });
    </script>
</body>
</html>